# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.egg-info/

# Envs
.venv/
env/
venv/

# Data & outputs
data/input/
data/output/
data/artifacts/*.tmp
data/**/*.tmp

# Notebooks cache
*.log

# OS
.DS_Store

# Modelos: PERMITIMOS joblib en artifacts (comenta si prefieres releases)
# data/artifacts/*.joblib

# Ignorar datasets y salidas generadas
data/
output/
artifacts/
*.csv
*.joblib
*.json
*.png
*.pdf

